<script lang="ts">
  import {
    provideVSCodeDesignSystem,
    allComponents,
  } from '@vscode/webview-ui-toolkit';
  import { vscode } from './utilities/vscode';
  import ButtonPanel from './components/ButtonPanel.svelte';
  import Options from './components/Options.svelte';
  import { onMount } from 'svelte';

  // In order to use the Webview UI Toolkit web components they
  // must be registered with the browser (i.e. webview) using the
  // syntax below.
  // provideVSCodeDesignSystem().register(vsCodeButton(), vsCodeBadge());
  provideVSCodeDesignSystem().register(allComponents);

  // variables
  let gptModel = 'gpt-4o';
  let languageTone = 'Default';

  // On startup
  onMount(async () => {
    // Listen to events
    window.addEventListener('message', async (e) => {
      const message = e.data.event;
      console.log(message);

      switch (message) {
        case 'setModel':
          gptModel = e.data.payload;
          console.log(gptModel);

          break;
        case 'setTone':
          languageTone = e.data.payload;
          break;

        default:
          break;
      }
    });

    // Send ready event
    vscode.postMessage({
      event: 'ready',
      payload: undefined,
    });
  });
</script>

<main>
  <ButtonPanel></ButtonPanel>
  <Options {gptModel} {languageTone}></Options>
</main>

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    margin-top: 0.5rem;
  }
</style>
