<script lang="ts">
  import {
    provideVSCodeDesignSystem,
    vsCodeButton,
  } from '@vscode/webview-ui-toolkit';
  import { vscode } from '../utilities/vscode';

  provideVSCodeDesignSystem().register(vsCodeButton);

  function handle(event: string) {
    vscode.postMessage({
      event,
      payload: undefined,
    });
  }
</script>

<h3>Basic Commands</h3>

<div class="container">
  <div class="row">
    <vscode-button on:click={handle.bind(null, 'fixgrammarEvent')}
      >Fix Grammar</vscode-button>
  </div>
  <div class="row">
    <vscode-button on:click={handle.bind(null, 'elaborateEvent')}
      >Elaborate</vscode-button>
  </div>
  <div class="row">
    <vscode-button on:click={handle.bind(null, 'rewriteEvent')}
      >Rewrite</vscode-button>
  </div>
  <div class="row">
    <vscode-button on:click={handle.bind(null, 'summarizeEvent')}
      >Summarize</vscode-button>
  </div>
  <div class="row">
    <vscode-button on:click={handle.bind(null, 'translateEvent')}
      >Translate to another language</vscode-button>
  </div>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .row {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  vscode-button {
    width: 100%;
    margin: 0;
  }
</style>
