<script lang="ts">
  import {
    provideVSCodeDesignSystem,
    vsCodeButton,
    vsCodeTag,
  } from '@vscode/webview-ui-toolkit';
  import { vscode } from '../utilities/vscode';

  export let gptModel = 'gpt-4';
  export let languageTone = 'Funny';

  provideVSCodeDesignSystem().register(vsCodeTag, vsCodeButton);

  function handle(event: string) {
    vscode.postMessage({
      event,
      payload: undefined,
    });
  }
</script>

<h3>Options</h3>

<div class="row">
  <div class="column">Engine:</div>
  <div><vscode-tag>{gptModel}</vscode-tag></div>
</div>
<div class="row">
  <div class="column">
    <vscode-button on:click={handle.bind(null, 'changeModelEvent')}
      >Change Engine</vscode-button>
  </div>
</div>

<div class="row mt-1">
  <div class="column">Tone:</div>
  <div><vscode-tag>{languageTone}</vscode-tag></div>
</div>
<div class="row">
  <div class="column">
    <vscode-button on:click={handle.bind(null, 'changeToneEvent')}
      >Change Tone</vscode-button>
  </div>
</div>

<style>
  .row {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    flex-wrap: wrap;
    width: 100%;
    margin: 0;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding: 0.1rem;
  }

  .mt-1 {
    margin-top: 1rem;
  }
</style>
